body {
  margin: auto 0;
  background-color: #fff4c9; /* Baby yellow */
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 20px;
  margin: 20px;
}

.btn {
  width: 150px;
  height: 50px;
  font-weight: bold;
}

.btn-info {
  color: #fff;
  background-color: #6b5b95; /* Darker purple */
  border-color: #6b5b95; /* Darker purple */
}

.btn-info:hover {
  color: #fff;
  background-color: #563d7c; /* Darker shade of purple */
  border-color: #4a3b6d; /* Darker shade of purple */
}

.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  background-color: #7d6dab; /* Lighter shade of purple */
  border-color: #7d6dab; /* Lighter shade of purple */
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #4d3c6e; /* Dark shade of purple */
  border-color: #4d3c6e; /* Dark shade of purple */
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

/* Update the container class to set the background color */
.container {
  display: grid;
  justify-items: center;
  align-content: start;
  grid-gap: 20px;
  margin: 20px;
  width: 50%;
  height: 100vh;
  background-color: #fff4c9; /* Baby yellow */
}

/* Add a class to style the text element */
.text {
  display: grid;
  justify-items: center;
  align-content: start;
  color: #d83c32;
  font-weight: bold;
  border: 3px solid #000000;
  padding: 10px;
  background-color: #fff4c9; /* Baby yellow */
}

/* Update the canvas class to keep the black border */
canvas {
  width: 90%;
  height: 500px;
  border: 3px solid #000000;
}

/* Update the input and save path row classes to keep the same position */
.input_row, .save_row {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr;
  grid-gap: 20px;
  margin: 20px;
  justify-items: center;
  align-content: start;
}